CPQ_BASE_URL=https://mingle-ionapi.eu1.inforcloudsuite.com/BROMPTON_TRN/CPQ/api/v4
CPQ_ION_API_TOKEN=
CPQ_USERNAME=
CPQ_PASSWORD=
CPQ_TIMEOUT_MS=25000
CPQ_USE_MOCK=false

CPQ_DEFAULT_ACCOUNT_CODE=A000
CPQ_DEFAULT_CUSTOMER_ID=
CPQ_DEFAULT_CURRENCY=GBP
CPQ_DEFAULT_LANGUAGE=en-GB

NEXT_PUBLIC_CPQ_RULESET=BROMPTON_BIKE_BUILDER
